{% extends "base.html" %}

{% block title %} Create activity {% endblock %}

{% block header %}
<h1>Create an activity</h1>
{% endblock %}

{% block content %}
<form method="POST">
<table>
	<tr>
		<td><label for="Title">Activity Title:</label></td>
		<td><input name="title" id="Title" type="text"></td>
	</tr>

	<tr>
		<td><label for="Date">Date:</label></td>
		<td><input name="date" id="Date" type="date"></td>
	</tr>

	<tr>
		<td><label for="StartTime">Start Time:</label></td>
		<td><input name="start_time" id="StartTime" type="time"></td>
	</tr>

	<tr>
		<td><label for="EndTime">End Time:</label></td>
		<td><input name="end_time" id="EndTime" type="time"></td>
	</tr>

	<tr>
		<td><label for="Description">Activity Description:</label></td>
		<td><input name="description" id="Description" type="text"></td>
	</tr>

	<tr>
		<td></td>
		<td><input type="submit" value="Create"></td>
	</tr>
</table>
</form>

<br />
{% if msg %}
	{{msg}}
{% endif %}

{% endblock %}