<!DOCTYPE html>
<html lang="en">
<head>
    
    <title> {% block title %} Webpage Title {% endblock %}
    </title>
    <link rel="stylesheet" href="static/css/1-main.css"/>

    {% block head %}
    {% endblock %}

</head>

<body>
    <div id = "header">
        {%  block header %}
        {% endblock %}
    </div>

    {% block navbar %}
    <div class="landing-nav">
        <a href="{{ url_for('landing') }}" class="nav-button">Home</a>
        <a href="{{ url_for('privacy') }}" class="nav-button">Privacy Policy</a>
        <a href="{{ url_for('contact') }}" class="nav-button">Contact</a>
        <a href="{{ url_for('login') }}" class="nav-button">Login</a>
        <a href="{{ url_for('register') }}" class="nav-button">Register</a>
        {% if logged_in %}
        <a href="{{ url_for('activities') }}" class="nav-button">Activities</a>
        <a href="{{ url_for('createact')}}" class="nav-button"> Create Activities</a> 
        <a href="{{ url_for('updateact')}}" class="nav-button"> Update Activities</a>
        <a href="{{ url_for('logout')}}" class="nav-button"> Log Out</a>
        {% endif %}
    </div>
    {% endblock %}
    <div id = "landing-bg">
        <div id ="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>



</html>