<!DOCTYPE html>
<html lang="en">
<head>
    
    <title> {% block title %} Webpage Title {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/main.css"/>

    {% block head %}
    {% endblock %}

</head>

<body>
    <div id = "header">
        {%  block header %}
        {% endblock %}
    </div>

    <div class="landing-nav">
    {% block navbar %}
        <a href="{{ url_for('landing') }}" class="nav-button">Home</a>
        <a href="{{ url_for('privacy') }}" class="nav-button">Privacy Policy</a>
        <a href="{{ url_for('contact') }}" class="nav-button">Contact</a>
        <a href="{{ url_for('login') }}" class="nav-button">Login</a>
        <a href="{{ url_for('register') }}" class="nav-button">Register</a>
    {% endblock %}

    {% if user_name %}
        Logged in as: {{ user_name }}
    {% endif %}
    </div>

    <div id = "landing-bg">
        <div id ="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>



</html>