{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block head %}
{% endblock %} 


{% block header %}
<h1>Legal Policy</h1>
{% endblock %}

{% block content %}
<div class = "privacy-content">
<h2>Terms & Conditions</h2>

<p>1. By accessing and using ProjectPomelo, you agree to be bound by these terms and conditions.</p>

<p>2. If you fail to comply with any of these terms and conditions, Project Pomelo reserves the right to suspend or terminate access to your account at any time without prior notice.</p>

<p>3. You agree to use this website only for lawful purposes.</p>

<p>4. You must not attempt hacking, uploading harmful code, profanities or use this website for illegal purposes.</p>

<p>5. You are responsible for the confidentiality of your account, and providing accurate and complete information of all activities under your account.</p>

<p>6. All content on this website, including text, graphics, logos, and code, is the property of ProjectPomelo and may not be copied, reproduced, distributed or modified without permission.</p>

<p>7. ProjectPomelo may collect and use personal information in accordance with applicable data protection laws, more details can be found in our Privacy Policy.</p>

<p>8. ProjectPomelo may contain links to third-party websites and is not responsible for the content, policies, or practices of any third-party sites.</p>

<p>9. Content on ProjectPomelo are provided as is and make no warranties regarding accuracy, completeness or reliability of the information.</p>

<p>10. ProjectPoemlo shall not be liable for any direct or indirect damages, loss of data or opportunities arising from the use of ProjectPomelo.</p>

<p>11. ProjectPomelo may update these Terms and Conditions at any time.</p>

<p>12. Continued use of ProjectPomelo after changes are made constitutes acceptance of the updated terms.</p>

<p>13. If you have any queries about these Terms and Conditions, please contact projectpomelo@gmail.com for clarification.</p>

<h2>Privacy Policy</h2>

<p>1. This Privacy Policy explains how we collect, use, and protect your personal information when you use ProjectPomelo.</p>

<p>2. By using ProjectPomelo, you agree to the collection and use of your information in accordance with this policy.</p>

<p>3. We may collect information such as your name, email address, class, school, ip address, browser type and device information, page visited, data usage and any other information submitted through forms or account registration.</p>

<p>4. We may share your information with authorized administrators (teachers or staff), service providers that help operate the website and authorities if required by law.</p>

<p>5. This is for purposes such as providing and maintaining ProjectPomelo, managing user accounts, managing activities and events, communicating with users and improving ProjectPomelo’s functionality and user experience.</p>

<p>6. We retain your personal data only for as long as necessary to fulfil the purposes outlined in this policy and comply with legal or administrative requirements.</p>

<p>7. We do not sell your personal data.</p>

<p>8. We take reasonable steps to protect your personal data from unauthorized access, loss or misuse.</p>

<p>9. However, no system is completely secure, and we cannot guarantee absolute data security.</p>

<p>10. You have the right to access your personal data, correct inaccurate information and request deletion of your data through contact information below.</p>

<p>11. ProjectPomelo may use third-party services and we are not responsible for the way they collect and use the information.</p>

<p>12. We may update this Privacy Policy from time to time.</p>

<p>13. Any changes will be posted on this page, and continued use of the Website indicates acceptance of the updated policy.</p>

<p>14. If you have any questions or requests regarding this Privacy Policy, please contact projectpomelo@gmail.com for more information.</p>



</div>
{% endblock %}
